<!--ng-model      : nombre con el cual se identificará desde el js de angular para captura de informacion y asignacion de valores-->
<!--ng-controller : nombre del controlador creado en el js angular para ser usado-->
<!--ng-click : evento asignado aun boton-->
<div>
    <input type="hidden" ng-model="codigo_oculto" />
    <!--aqui definimos el llamado al controller js creado para la template-->
    <div class='panel panel-primary'  ng-controller='clienteController'  >
        <div class='panel-heading'><div id='tituloform'>:: Registro de Datos ::</div></div>
        <div class='panel-body'>
        <form class="form-horizontal" >

            <!--inicio del objeto text-->
            <div class="form-group">
                <label class="col-xs-2 control-label">Nro. Solicitud :</label>
                <div class="col-xs-8">
                    <input type="text" ng-model="nrosolicitud" class="form-control" required placeholder="Ingrese Nro. Documento" />
                </div>
            </div>
            <!--fin del objeto text-->

            <!--inicio del objeto text-->
            <div class="form-group">
	            <label class="col-xs-2 control-label">Tipo de Persona:</label>
	            <div class="col-xs-8">
		            <!--<input type="text" ng-model="nombres" class="form-control" required placeholder="Ingrese Nombres" />-->
                    <select ng-model="selectedCar" class="form-control" required placeholder="Seleccione Tipo Persona" ng-options="x for (x, y) in cars"></select>
	            </div>
            </div>
            
            <!--fin del objeto text-->

            <!--inicio del objeto text-->
            <div class="form-group">
                <label class="col-xs-2 control-label">Tipo de Documento:</label>
                <div class="col-xs-8">
                    <!--<input type="text" ng-model="nombres" class="form-control" required placeholder="Ingrese Nombres" />-->
                    <select ng-model="selectedCar" class="form-control" required placeholder="Seleccione Tipo Documento" ng-options="x for (x, y) in cars"></select>
                </div>
            </div>
            <!--fin del objeto text-->

            <!--inicio del objeto text-->
            <div class="form-group">
	            <label class="col-xs-2 control-label">Nro. Documento :</label>
	            <div class="col-xs-8">
		            <input type="text" ng-model="nrodocumento" class="form-control" required placeholder="Ingrese Nro. Documento" />
	            </div>
            </div>
            <!--fin del objeto text-->
            
            <!--inicio del objeto checkbox
            <div class="form-group">
	            <label class="col-xs-2 control-label">Sexo :</label>
	            <div class="col-xs-5">
		            <div class="checkbox">
			            <label><input type="checkbox" ng-model="hombre" value="M" /> Hombre</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			            <label><input type="checkbox" ng-model="mujer"  value="F" /> Mujer</label>
		            </div>
	            </div>               
            </div>
            <!--fin del objeto checkbox

            <!--inicio del objeto textarea
            <div class="form-group">
	            <label class="col-xs-2 control-label">Dirección :</label>
	            <div class="col-xs-8">
		            <textarea class="form-control" ng-model="direccion" required placeholder="Ingrese Dirección" rows="4"></textarea>
	            </div>
            </div>
            <!--fin del objeto textarea-->
            <!--inicio del objeto text-->
            <div class="form-group">
                <label class="col-xs-2 control-label">Apellido Paterno:</label>
                <div class="col-xs-8">
                    <input type="text" ng-model="apepaterno" class="form-control" readonly />
                    <label><input type="checkbox" ng-model="sinapepat" value="M" /> Sin apledido paterno</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <!--fin del objeto text-->
            <!--inicio del objeto text-->
            <div class="form-group">
                <label class="col-xs-2 control-label">Apellido Materno:</label>
                <div class="col-xs-8">
                    <input type="text" ng-model="apematerno" class="form-control" readonly />
                    <label><input type="checkbox" ng-model="sinapemat" value="M" /> Sin apledido materno</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <!--fin del objeto text-->
            <!--inicio del objeto text-->
            <div class="form-group">
                <label class="col-xs-2 control-label">Primer Nombre:</label>
                <div class="col-xs-8">
                    <input type="text" ng-model="primernombre" class="form-control" readonly />
                </div>
            </div>
            <!--fin del objeto text-->
            <!--inicio del objeto text-->
            <div class="form-group">
                <label class="col-xs-2 control-label">Segundo Nombre:</label>
                <div class="col-xs-8">
                    <input type="text" ng-model="segundonombre" class="form-control" readonly />
                </div>
            </div>
            <!--fin del objeto text-->
            <!--inicio del objeto text-->
            <div class="form-group">
                <label class="col-xs-2 control-label">Tercer Nombre:</label>
                <div class="col-xs-8">
                    <input type="text" ng-model="tercernombre" class="form-control" readonly />
                </div>
            </div>
            <!--fin del objeto text-->

            <!--inicio del objeto button-->
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-6">
                    <button style="width:auto" ng-click="btnAceptar()" class="btn btn-primary glyphicon glyphicon-save" data-toggle="modal" data-target="#myModal" title="Guardar cambios"></button>&nbsp;&nbsp;
                    <a style="width:auto" href="#listado" class="btn btn-primary glyphicon glyphicon-remove" title="Regresar sin efectuar cambios"></a>
                </div>
            </div>

        </form>
        </div>
        <!--fin del objeto button-->
        <!--Fin de panel de DATOS PERSONALES-->
        
        <!--inicio del contenedor modal-->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Proyecto SES</h4>
                    </div>
		
                    <div class="modal-body"> 
                        <p />                  
                        <p><b style="color:red">{{message}}</b></p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> 
        <!--fin del contenedor modal-->
    </div>
</div>

