<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FrameworkSES.Properties.Settings.ConnectionStringSES"
            connectionString="Data Source=PMO77\SQL2012;Initial Catalog=DbCompras;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>